<div class="back"> 
    <div class="overallpricecontainer" >
        <p>Price Details</p>
        <hr>
        <div class="totalpricediv">
            <span>Price</span>
            <span>${{calculateOverallPrice()}}</span>
        </div>
        <div class="totalpricediv">
            <span>Delivery Charges</span>
            <span>
                <span class="Charges">$40</span><span>Free</span></span>
        </div>
        <hr>
        <div class="totalpricediv">
        <span>Total Amount</span>
        <span class="total">$ {{calculateOverallPrice()}}</span>
        
    </div>
    <p class="savesentence">(You will save ₹40 on this order)</p>
    <br>
        <button class="orderbtn" (click)="placeorder()" mat-raised-button >PLACE ORDER</button>
    </div>
    <div class="safe">
        <p class="safesentence"><mat-icon>verified_user</mat-icon>Safe and Secure Payments.Easy returns.100% Authentic products.</p>
    </div>
    
    <div class="content">
    <h2>Shopping Cart</h2>
    <table class="example-full-width">
        <tr class="header">
            <th>ProductImage</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>

    <tr *ngFor="let p of product">
    <td><img src="../../assets/{{p.productName}}.jpg" width="100px" height="100px" alt=""></td>
   <td>{{p.productName}}</td>
   <td>{{p.category}}</td>
   <td>{{p.price}}</td>
   <td class="quantity"><button class="plus" (click)="incrementQuantity(p)">+</button><span>{{p.quantity}}</span><button class="minus" (click)="decrementQuantity(p)">-</button>
   </td>
   <td>{{ getTotalPrice(p) }}</td>
   <td><button class="delete" (click)="removeItem(p)"><mat-icon>delete</mat-icon></button></td>
    </tr>    
    </table>
    </div>
    
 </div>