.back{
    background-color: rgb(245, 238, 238);
   height: 1000px;
}
h2{
    font-size: 25px;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}
.content{
    background-color: white;
    width: 900px;
    /* border:1px solid black */
}
th{
   padding: 10px 37px;
}
td{
    padding: 10px 32px;
}

.plus{
    border-radius: 50%;
    margin-right: 10px;
}
.minus{
    border-radius: 50%;
    margin-left: 10px;
}
tr{
    
    border: 2px solid black;
}
.example-full-width{
    margin-left: 3px;
}

.overallpricecontainer{
    float: right;
    width: 330px;
    margin-top: 50px;
     position: fixed;
      margin-left: 920px;
    background-color: white;
    padding: 20px;
    font-size: medium;
    line-height: 25px;
    margin-right: 10px;
}
.totalpricediv{
display: flex;
justify-content: space-between;
}
.Charges{
    text-decoration:line-through
}
.savesentence{
    margin-top: 20px;
}

.delete{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.total{
    color: green;
    font-weight: 600;
}
.quantity{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.safe{
    float: right;
    position: fixed;
    margin-top: 390px;
    width: 330px;
    padding: 5px 5px;
    margin-left: 920px;
}
.orderbtn{
    background-color: red;
    margin-left: 50px;
    color: white;
    padding: 23px 30px;
    font-size: medium;
}