  <div id="searchContainer" >
    <div class="search">
     
        <input matInput type="text" size="30" class="ip"  [(ngModel)]="senote" placeholder="Search " />     
      <button matTooltip="Search" type="button"  (click)="searchInput()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
      <div class="filter">
        <button matTooltip="Filter"  class="filterbtn" (click)="filterCategory()"><mat-icon>list</mat-icon></button>  
          <input matInput size="30" placeholder="Select" type="text" class="ip" [matAutocomplete]="auto"  [(ngModel)]="value" />
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let p of options" [value]="p" >{{p}}
              </mat-option>
            </mat-autocomplete>       

      </div>
  </div>

    